*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer{
    width: 100vw;
    height: 10vh;
    background-image: url('../img/bg.png');
    display: flex;
    align-items: center;
    gap: 3vw;
    justify-content: space-between;

}

.esquerda{
    display: flex;
    align-items: center;
    height: 100%;
}

.meulogo {
    height: 100%;
    margin-top: 10px;
}

.direita{
    display: flex;
    align-items: center;
}

header > .direita > a{
    margin-right: 10px;
}

body{
    background-color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}
    /* tabelas */
    .container {
        width: 100vw;
        min-height: 80vh;
        padding-top: 10vh;
        background-color: #d4dbec;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }

.destaque{
    display: flex;
    width: 80vw;
    flex-direction: column;
}

.destaque_direita{
    display: flex;
    justify-content: start;
    width: 20%;
    gap: 10px;
    
}

.destaque_esquerda{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.tableresponsive {
    width: 80%;
    max-height: 50vh; 
    overflow-y: auto; 
}


table {
    width: 100%;
    min-width: 80vw;
    border-collapse: collapse;
    background-color: rgb(245, 245, 245); /* Fundo suave */
    color: #0d1b2a; /* Texto azul escuro */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Sombra para a tabela */
    border-radius: 8px;
}

tr{
   
    border-bottom: 2px solid #4a4a4a;
}

th,td{
    text-align: left;
    padding: 10px;
}


ul{
    list-style: none;
}

form{
    display: flex;
    flex-direction: column;
    background-color: #f0f4f8;
    border-radius: 20px;
    padding: 1vw;
    box-shadow: 10px 10px 20px rgb(124, 135, 150);
    gap: 6px;
    align-items: center;
}

form>p{
    display: flex;
    font-size: 1,5cap;
    color: #666;
    margin-bottom: 25px;
   padding: 2px;
    width: 100%;
    display: flex; 
}

form>h2{
    padding: 0;
    margin: 0 auto;
    font-weight: 500;
    gap: 1px;
    margin-bottom: 10px;
}


/*configuracao de botao*/

.btn{ /*nova categoria e novo produto*/
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    background-color: #2d2f8cc5;
    padding: 3px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    text-decoration: none;
    font-size: small;
    padding: 6px;
    font-weight: 500;
}

.btns{/* categoria produto movimentacao e home, botoes de cima */
    color: white;
    padding: 7px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: large;
}

.btns:hover{/* categoria produto movimentacao e home, botoes de cima */
    color: white;
    padding: 7px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: large;
    text-shadow: 5px 5px 10px #000000;
}

.editar{
    color: #898989;
    padding: 7px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

.editar:hover{
    color: #898989;
    padding: 7px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1);
}

.apagar{
    color: #bf2f2f;
    padding: 7px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

.apagar:hover{
    color: #bf2f2f;
    padding: 7px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1);
}

.voltar{
    color: #2d2f8cc5;
    text-decoration: none;
}

.voltar:hover{
    color: #2d2f8cc5;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1);
}

.formBemvindo{
    display: flex;
    flex-direction: column;
    background-color: #f0f4f8;
    border-radius: 20px;
    padding: 1vw;
    box-shadow: 10px 10px 20px rgb(124, 135, 150);
    gap: 6px;
    align-items: center;
    justify-content: center;
}

.formBemVindo>p{
    font-size: 1,5cap;
    color: #666;
    margin-bottom: 25px;
    padding: 5px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.formBemVindo>h1{
    font-size: 36px;
    margin-bottom: 10px;
    color:  #080a72;
}


.botoesprofile{
    display: flex;
    padding: 5px;
    gap: 7px;
}

.formprofile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.homepage{
    display: flex;
    width: 100%;
    height: 100%;
}

.hpdireita {
    width:30%;
    height: 100%;
}


.hpdireita > img{
    width: 100%;
    height: 100%;
}

.hpesquerda{
    display: flex;
    width: 70%;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0px;
    align-items: center;
}

.menu {
    display: flex;
    gap: 1rem;
}


.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
}


#menu-toggle {
    display: none;
}


@media (max-width: 768px) {
    .menu {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 10vh; 
        left: 0;
        background-color: #2D2E8C;
        width: 100%;
        padding: 1rem 0;
    }

    .menu a {
        text-align: center;
        width: 100%;
        border-top: 1px solid white;
    }

    .menu a:last-child {
        border-bottom: 1px solid white;
    }

    .menu-toggle {
        display: block; 
    }

    #menu-toggle:checked ~ .menu {
        display: flex;
    }
    body{
    background-color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    }
}

