<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    {%load static%} 
    <link rel="stylesheet" href="{%static 'css/menu.css'%}">
</head>
<body>

    <header>
        <div class="primeira-pagina">
       <img src="{% static "img/logonegativo.png" %}" alt="" srcset="">
            <h2>Inovação e Especialização em Soluções Tecnológicas!</h2>
            <p>O Futuro do seu negócio.</p>
            <a class="btn" href="{% url 'login' %}">Acessar sistema</a>
        </div>
    </header>

    <section id="intro">
        <div class="pagina_do_meio">
            <h1>Bem-vindos!</h1>
            <h3>Bora fazer mais um trabalho?</h3>
            <p class="texto1">No nosso time, cada dia é uma nova oportunidade de crescer,</p>
            <p class="texto1">inovar e superar desafios. Estamos juntos nessa jornada para fazer a diferença, impulsionados</p>
            <p class="texto1"> pelo compromisso de entregar o melhor em tudo o que fazemos.</p>
            <br>
            <p class="texto1"> Lembre-se: o sucesso é a soma de pequenos esforços repetidos diariamente. Vamos continuar avançando,</p>
            <p class="texto1"> um passo de cada vez, com dedicação e entusiasmo.</p>
            <br>
            <p class="texto2">"O segredo do sucesso é a constância no propósito." - Benjamin Disraeli</p>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <p class= "ns">Nossos Serviços</p>
            <br>
            <div class="service-grid">
                <div class="service-card">
                    <img src="{% static 'img/bg.png' %}" alt="Produto 1">
                    <p class="titulo">Cadastro de Produto</p>
                    <p class="subtitulo">Cadastre um produto presente no estoque.</p>
                    <br>
                    <a class="btn" href="{% url 'login' %}">Acessar</a>
                </div>
                <div class="service-card">
                    <img src="{% static 'img/bg.png' %}" alt="Produto 2">
                    <p class="titulo">Cadastro de Categoria</p>
                    <p class="subtitulo">Cadastre uma categoria de produtos pesente no estoque.</p>
                    <br>
                    <a class="btn" href="{% url 'login' %}">Acessar</a>
                </div>
                <div class="service-card">
                    <img src="{% static 'img/bg.png' %}" alt="Produto 3">
                    <p class="titulo">Cadastro de Movimentações</p>
                    <p class="subtitulo">Cadastre as movimentações feitas, entrada e saída de produtos.</p>
                    <br>
                    <a class="btn" href="{% url 'login' %}">Acessar</a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 TechStock Solutions. Todos os direitos reservados.</p>
            <p>Criado por Julia Peres e Ana Carolina</p>
        </div>
    </footer>

</body>
</html>
