<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}TechStock Solutions{%endblock%}</title>
    {%load static%}    
    <link rel="stylesheet" href="{%static 'css/menu.css'%}">
</head>
<body>

    <!-- Header -->
    <header>
        <div class="header-content">
            <h2>Inovação e Especialização em Soluções Tecnológicas!</h2>
            <p>Soluções tecnológicas para transformar o futuro do seu negócio.</p>
        </div>
    </header>

    <!-- Seção de Introdução -->
    <section id="intro">
        <div class="container">
            <h2>Quem Somos</h2>
            <p>Somos uma empresa em destaque no mercado de fornecimento tecnológico, oferecendo um trabalho .</p>
            <a href="#services" class="btn">Saiba Mais</a>
        </div>
    </section>

    <!-- Seção de Produtos/Serviços -->
    <section id="services">
        <div class="container">
            <h2>Nossos Serviços</h2>
            <div class="service-grid">
                <div class="service-card">
                    <img src="produto1.jpg" alt="Produto 1">
                    <h3>Soluções Inteligentes</h3>
                    <p>Transforme seu negócio com inteligência artificial e automação.</p>
                </div>
                <div class="service-card">
                    <img src="produto2.jpg" alt="Produto 2">
                    <h3>Desenvolvimento Web</h3>
                    <p>Criamos websites inovadores e responsivos para sua empresa.</p>
                </div>
                <div class="service-card">
                    <img src="produto3.jpg" alt="Produto 3">
                    <h3>Consultoria e Suporte</h3>
                    <p>Apoio especializado para otimizar a sua infraestrutura de TI.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Seção de Estoques -->
    <section id="stocks">
        <div class="container">
            <h2>Galeria de Estoques</h2>
            <div class="image-gallery">
                <img src="estoque1.jpg" alt="Estoque 1">
                <img src="estoque2.jpg" alt="Estoque 2">
                <img src="estoque3.jpg" alt="Estoque 3">
                <img src="estoque4.jpg" alt="Estoque 4">
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 TechStock Solutions. Todos os direitos reservados.</p>
            <p>Criado por Ana Carolina e Julia Peres</p>
        </div>
    </footer>

</body>
</html>
