<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}TechStock Solutions{%endblock%}</title>
    {%load static%}     
    <link rel="stylesheet" href="{%static 'css/estilo.css'%}">
</head>
<body>
    <header>
        <div class= "esquerda">
            <a href="{% url 'menu' %}"><img src="{% static 'img/logonegativo.png' %}"  width="110px" class="meulogo"></a>
            
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="menu-toggle">☰</label>
            
            <nav class="menu">
                <a class="btns" href="{% url 'homepage' %}">Home</a>
                <a class="btns" href="{% url 'produto_list' %}">Produtos</a>
                <a class="btns" href="{% url 'categoria_list' %}">Categoria</a>
                <a class="btns" href="{% url 'movimentacao_list' %}">Movimentacao</a>
            </nav>

        </div>

        <div class= "direita">
            <a class="btns" href="{% url 'profile' %}">Perfil</a>
        </div>

    </header>
    <div class="container">
    {%block content%}{%endblock%}
    </div>  
    <footer>

    </footer>
</body>
</html>