{% extends 'base.html' %}

{% block title %}Lista de Produtos{% endblock %}

{% block content %}

<div class="destaque">

    <div class="destaque_esquerda">
        <h2>Lista de Produtos</h2>
    </div>
    <div class="destaque_direita">
        <a class="btn" href="{% url 'produto_create' %}">Novo Produto</a>
        <a class="btn" href="{% url 'categoria_create' %}">Nova Categoria</a>
    </div>
    
</div>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in object_list %}
            <tr>
                <td>{{ produto.nome }}</td>
                <td>R$ {{ produto.valor }}</td>
                <td>{{ produto.categoria.nome }}</td>
                <td>
                    <a href="{% url 'produto_update' produto.pk %}" class="editar">Editar</a>
                     | 
                    <a href="{% url 'produto_delete' produto.pk %}" class="apagar">Excluir</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Nenhum produto cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

   
{% endblock %}
