{% extends 'base.html' %}
{% block title %}Perfil{% endblock %}
{% block content %}

<div class="formprofile">
<form method="post"  action="{% url 'logout' %}" class="formBemVindo">
    <h1>Bem-vindo, {{ user.first_name }} {{ user.last_name }}!</h1>
    <p>E-mail: {{ user.email }}</p>
    <div class="botoesprofile">
        <a href="{% url 'edit_profile' %}" class="btn">Editar Perfil</a>
   
        {% csrf_token %}
        <button type="submit" class="btn">Logout</button>

    </div>
</form>
</div>
{% endblock %}